body {
  background-color: rgb(50, 50, 50);
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: white;
  direction: rtl;
}

.main {
  margin-right: 220px;
  transition: margin-right 0.75s ease-in;
}

.user-title {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 50px;
  display: inline-block;
}

.user-catg {
  background-color: rgb(40, 40, 40);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  padding: 2px 6px;
  border: 2px solid;
  border-color: rgb(30, 30, 30);
  border-radius: 20px;
  cursor: pointer;
}

.pop-up {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  display: none;
}

.pop-up-active {
  display: block;
}

.pop-up-background {
  padding: 0px;
  width: 100vw;
  height: 100vh;
  border: none;
  background-color: black;
  opacity: 50%;
  position: fixed;
}

.pop-up-container {
  position: fixed;
  width: 350px;
  right: calc(50vw - 175px);
  top: calc(50vh - 200px);
  background-color: rgb(40, 40, 40);
  border: 5px solid;
  border-color: rgb(70, 70, 70);
  border-radius: 50px;
}

.pop-up-title {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 35px;
}

.pop-up-content {
  margin-right: 20px;
}

.pop-up-element {
  background-color: rgb(70, 70, 70);
  border: 2px solid;
  border-color: rgb(30, 30, 30);
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.pop-up-button {
  padding: 5px 10px;
  font-size: large;
  cursor: pointer;
}

.add-user-button {
  background-color: rgb(0, 140, 255);
  border-color: rgb(0, 87, 158);
}

.pop-up-error {
  display: none;
  color: red;
}

.pop-up-error.show {
  display: inline-block;
}

.main.minimized {
  margin-right: 10px;
}

.trash-icon {
  width: 20px;
}

.user-delete-button {
  background-color: rgb(70, 70, 70);
  border: 2px solid;
  border-color: rgb(30, 30, 30);
  padding: 5px 6px;
  border-radius: 50%;
  cursor: pointer;
}

.delete-user-button {
  background-color: rgb(255, 0, 0);
  border-color: rgb(158, 0, 0);
}

.user-catg.selected {
  background-color: rgb(70, 70, 70);
}

.user-catgs {
  margin-bottom: 20px;
}
