.sidebar {
  background-color: rgb(40, 40, 40);
  outline: 5px solid rgb(30, 30, 30);
  width: 200px;
  height: 100vh;
  padding-right: 10px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: right 0.75s ease-in;
  z-index: 1000;
}

.sidebar-title {
  margin-bottom: 10px;
  padding-top: 20px;
}

.sidebar-button {
  width: 25px;
  height: 25px;
  background-color: rgb(70, 70, 70);
  border: 2px solid;
  border-color: black;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
}

.sidebar-button:hover {
  cursor: pointer;
}

.arrow-icon {
  rotate: 90deg;
  position: fixed;
  top: 20px;
  right: 175px;
  z-index: 1010;
  transition: right 0.75s ease-in, rotate 0.75s ease-in;
}

.plus-icon {
  margin-right: 60px;
}

.sidebar-search {
  background-color: rgb(50, 50, 50);
  border: 2px solid;
  border-color: rgb(30, 30, 30);
  border-radius: 10px;
  width: 90%;
  margin-bottom: 10px;
}

.sidebar-search-icon {
  width: 15px;
  margin-right: 5px;
}

.sidebar-search-input {
  width: 80%;
  background-color: rgb(50, 50, 50);
  border: none;
  color: white;
}

.sidebar-user {
  display: block;
  margin-bottom: 4px;
  cursor: pointer;
  border: none;
  background-color: rgb(40, 40, 40);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: white;
  width: 100%;
  text-align: right;
}

.sidebar.minimized {
  right: -215px;
}

.arrow-icon.minimized {
  right: 10px;
  rotate: 180deg;
}